{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h1>{{ category.name }}</h1>

    <div class="row mt-4">

        {% for product in products %}

        <div class="col-md-4 mb-4">

            <div class="card">

                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top">
                {% endif %}

                <div class="card-body">

                    <h5>{{ product.name }}</h5>

                    <p>Rs. {{ product.price }}</p>

                </div>

            </div>

        </div>

        {% empty %}

            <p>No products available in this category.</p>

        {% endfor %}

    </div>

</div>

{% endblock %}